* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 80%;
    max-width: 400px;
    background: whitesmoke;
    padding: 50px;
}

.feedback {
    margin-top: 20px;
}